python==3.7.6

# For Path Objects.
os
pathlib==2.3.5

# For Models.
scikit-learn==0.22.1

# For DataFrames and Arrays.
pandas==1.0.1
numpy==1.18.1

# Saving .pkl models.
joblib==0.14.1

# For Plotting.
matplotlib==3.1.3
seaborn==0.10.0
